# macOS
.DS_Store
.vscode/
.venv/
.pio/

# Dashboard
data/
node_modules/
dashboard/public/config.json

# Secure Boot
*.pem

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw